detector:
  binary_thres: 80
  detect_color: 0
  classifier_threshold: 0.8
  light_min_ratio: 0.1
  armor_min_light_ratio: 0.7
  ignore_classes:
    - "negative"
  pkg_path: "/home/pnx/training_code/detector"
  camera_matrix:
  - [1.6568413040244882e+03, 0., 7.1950000000000000e+02]
  - [0.,1.6568413040244882e+03, 5.3950000000000000e+02]
  - [0.0, 0.0, 1.0]
  dist_coeff: [-2.8380073561710410e-02, -1.1630629792065648e-01, 0., 0.,
       4.4214145035365970e-01]

serialdriver: 
  timestamp_offset: 0.006
  device_name: /dev/ttyACM0
  baud_rate: 115200
  flow_control: none
  parity: none
  stop_bits: "1"

tracker:
  max_armor_distance: 10.0
  max_match_distance: 0.15
  max_match_yaw_diff: 1.0
  tracking_thres: 5
  lost_time_thres: 0.3
  gimbal2camera: [0.0, 0.0, 0.0]

ekf:
  sigma2_q_xyz: 20.0
  sigma2_q_yaw: 100.0
  sigma2_q_r: 800.0
  r_xyz_factor: 0.05
  r_yaw: 0.02

ballistic_calcultion:
  iteration_coeffcient_first: 0.1
  iteration_coeffcient_second: 0.05
  air_resistence: 0.1
  bullet_speed: 24.8
  
  

  